In [1]:
!pip install -U selenium
!pip3 install webdriver-manager
import pandas as pd
import selenium
from bs4 import BeautifulSoup
import time
from selenium import webdriver
import requests
import re
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

Requirement already satisfied: selenium in c:\users\shyamanthularamakris\anaconda3\lib\site-packages (4.10.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\shyamanthularamakris\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio~=0.17 in c:\users\shyamanthularamakris\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\shyamanthularamakris\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\shyamanthularamakris\anaconda3\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: sniffio in c:\users\shyamanthularamakris\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\shyamanthularamakris\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: sortedcontainers in c:\users\shyamanthularamakris\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\shyamanthularamakris\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: idna in c:\users\shyamanthularamakris\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: async-generator>=1.9 in c:\users\shyamanthularamakris\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\shyamanthularamakris\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\shyamanthularamakris\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\shyamanthularamakris\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\shyamanthularamakris\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\shyamanthularamakris\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\shyamanthularamakris\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Requirement already satisfied: webdriver-manager in c:\users\shyamanthularamakris\anaconda3\lib\site-packages (3.8.6)
Requirement already satisfied: tqdm in c:\users\shyamanthularamakris\anaconda3\lib\site-packages (from webdriver-manager) (4.64.1)
Requirement already satisfied: requests in c:\users\shyamanthularamakris\anaconda3\lib\site-packages (from webdriver-manager) (2.28.1)
Requirement already satisfied: packaging in c:\users\shyamanthularamakris\anaconda3\lib\site-packages (from webdriver-manager) (21.3)
Requirement already satisfied: python-dotenv in c:\users\shyamanthularamakris\anaconda3\lib\site-packages (from webdriver-manager) (1.0.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\shyamanthularamakris\anaconda3\lib\site-packages (from packaging->webdriver-manager) (3.0.9)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\shyamanthularamakris\anaconda3\lib\site-packages (from requests->webdriver-manager) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in c:\users\shyamanthularamakris\anaconda3\lib\site-packages (from requests->webdriver-manager) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\shyamanthularamakris\anaconda3\lib\site-packages (from requests->webdriver-manager) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\shyamanthularamakris\anaconda3\lib\site-packages (from requests->webdriver-manager) (2022.9.14)
Requirement already satisfied: colorama in c:\users\shyamanthularamakris\anaconda3\lib\site-packages (from tqdm->webdriver-manager) (0.4.5)

1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [6]:
from webdriver_manager.chrome import ChromeDriverManager
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))

In [7]:
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)

In [8]:
Rank=[]
Name=[]
Artist=[]
Upload_date=[]
Views=[]

In [9]:
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td[1]')[:30]:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('-')
        

#Scraping data of video names
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td[2]')[:30]:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('-')

#Scraping data of artist name
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td[3]')[:30]:
        Artist.append(i.text)
except NoSuchElementException:        
    Artist.append('-')
    
#Scraping data of upload dates
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td[5]')[:30]:
        Upload_date.append(i.text)
except NoSuchElementException:        
    Upload_date.append('-')
    
    
#Scraping data of views
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td[4]')[:30]:
        Views.append(i.text)
except NoSuchElementException:
    Views.append('-')

In [10]:
Youtube=pd.DataFrame({})
Youtube['Rank'] = Rank
Youtube['Name'] = Name
Youtube['Artist'] = Artist
Youtube['Uploaded Date'] = Upload_date
Youtube['Views'] = Views

In [11]:
Youtube

,Rank,Name,Artist,Uploaded Date,Views
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.85
1,2.,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",8.16
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016",6.70
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,"May 2, 2018",6.20
4,5.,"""Shape of You""[16]",Ed Sheeran,"January 30, 2017",6.00
5,6.,"""See You Again""[19]",Wiz Khalifa,"April 6, 2015",5.89
6,7.,"""Phonics Song with Two Words""[24]",ChuChu TV,"March 6, 2014",5.30
7,8.,"""Wheels on the Bus""[25]",Cocomelon – Nursery Rhymes,"May 24, 2018",5.24
8,9.,"""Uptown Funk""[26]",Mark Ronson,"November 19, 2014",4.92
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[27]",Miroshka TV,"February 27, 2018",4.89
10,11.,"""Gangnam Style""[28]",Psy,"July 15, 2012",4.80
11,12.,"""Masha and the Bear – Recipe for Disaster""[33]",Get Movies,"January 31, 2012",4.55
12,13.,"""Dame Tu Cosita""[34]",El Chombo,"April 5, 2018",4.35
13,14.,"""Axel F""[35]",Crazy Frog,"June 16, 2009",3.91
14,15.,"""Sugar""[36]",Maroon 5,"January 14, 2015",3.87
15,16.,"""Roar""[37]",Katy Perry,"September 5, 2013",3.80
16,17.,"""Counting Stars""[38]",OneRepublic,"May 31, 2013",3.79
17,18.,"""Sorry""[39]",Justin Bieber,"October 22, 2015",3.66
18,19.,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.64
19,20.,"""Thinking Out Loud""[41]",Ed Sheeran,"October 7, 2014",3.60
20,21.,"""Waka Waka (This Time for Africa)""[42]",Shakira,"June 4, 2010",3.59
21,22.,"""Dark Horse""[43]",Katy Perry,"February 20, 2014",3.52
22,23.,"""Lakdi Ki Kathi""[44]",Jingle Toons,"June 14, 2018",3.48
23,24.,"""Faded""[45]",Alan Walker,"December 3, 2015",3.45
24,25.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.45
25,26.,"""Let Her Go""[47]",Passenger,"July 25, 2012",3.44
26,27.,"""Girls Like You""[48]",Maroon 5,"May 31, 2018",3.42
27,28.,"""Humpty the train on a fruits ride""[49]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.41
28,29.,"""Lean On""[50]",Major Lazer,"March 22, 2015",3.38
29,30.,"""Bailando""[51]",Enrique Iglesias,"April 11, 2014",3.38

Q2. Scrape the details teamIndia’sinternationalfixtures from bcci.tv. 
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1stODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [12]:
from webdriver_manager.chrome import ChromeDriverManager
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
url = " https://www.bcci.tv/"
driver.get(url)
time.sleep(2)

In [13]:
International = driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a') 
International.click()

In [17]:
Name=[]
Series=[]
Place=[]
Date=[]
Time=[]

#Scrapping Name
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]'):
        Name.append(i.text.replace('-',""))
except NoSuchElementException:
    Name.append('-')

#Scrapping Series
try:
    
    for i in driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]'):
        Series.append(i.text)
except NoSuchElementException:
    Series.append('-')
    
#scrapping Place
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]'):
        Place.append(i.text)
except NoSuchElementException:
    Place.append('-')
    
#Scrapping Date
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]'):
        Date.append(i.text)
except NoSuchElementException:
    Date.append('-')
    
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]'):
        Time.append(i.text.replace('IST',""))
except NoSuchElementException:
    Time.append('-')

    
# Creating Dataframe

Int_Fixtures=pd.DataFrame({})

Int_Fixtures['Match Title']=Name
Int_Fixtures['Series']=Series
Int_Fixtures['Place']=Place
Int_Fixtures['Date']=Date
Int_Fixtures['Time']=Time
Int_Fixtures

,Match Title,Series,Place,Date,Time
0,1st Test,INDIA TOUR OF WEST INDIES 2023,"Windsor Park,",12 JUL 2023,7:30 PM
1,2nd Test,INDIA TOUR OF WEST INDIES 2023,"Queen's Park Oval,",20 JUL 2023,7:30 PM
2,1st ODI,INDIA TOUR OF WEST INDIES 2023,"Kensington Oval,",27 JUL 2023,7:00 PM
3,2nd ODI,INDIA TOUR OF WEST INDIES 2023,"Kensington Oval,",29 JUL 2023,7:00 PM
4,3rd ODI,INDIA TOUR OF WEST INDIES 2023,"Brian Lara Stadium,",1 AUG 2023,7:00 PM
5,1st T20I,INDIA TOUR OF WEST INDIES 2023,"Brian Lara Stadium,",3 AUG 2023,8:00 PM
6,2nd T20I,INDIA TOUR OF WEST INDIES 2023,"National Stadium,",6 AUG 2023,8:00 PM
7,3rd T20I,INDIA TOUR OF WEST INDIES 2023,"National Stadium,",8 AUG 2023,8:00 PM

Q3. Scrape the details of State-wise GDP ofIndia fromstatisticstime.com. 
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [18]:
from webdriver_manager.chrome import ChromeDriverManager
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
url = "http://statisticstimes.com/"
driver.get(url)

In [19]:
economy = driver.find_element(By.XPATH,'//div[@class="navbar"]//div[2]//button').click()

urls = driver.find_element(By.XPATH,'//div[@class="dropdown-content"]//a[3]')
ineco_page = urls.get_attribute("href")
#Going to indian economy page
driver.get(ineco_page)  
time.sleep(5)

In [20]:
Rank = []
State = []
GSDP_1 = []
GSDP_2 = []
Share = []
GDP = []

In [21]:
sta_GDP = driver.find_element(By.XPATH,'//ul[@style="list-style-type:none;margin-left:20px;"]/li/a')
GDP_url = sta_GDP.get_attribute("href")

driver.get(GDP_url)
time.sleep(6)


#Scraping data of rank
for i in driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]//tbody//tr//td[1]'):
    Rank.append(i.text)

    
#Scraping data of state name
for i in driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]//tbody//tr//td[2]'):
    State.append(i.text)

    
# Scraping data of GSDP at current price (18-19)
for i in driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]//tbody//tr//td[3]'):
    GSDP_1.append(i.text)

    
#Scraping data of GSDP at current price (17-18)
for i in driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]//tbody//tr//td[4]'):
    GSDP_2.append(i.text)

    
#Scraping data of Share(2017)
for i in driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]//tbody//tr//td[5]'):
    Share.append(i.text)

    
#Scraping data of GDP($ billion)
for i in driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]//tbody//tr//td[6]'):
    GDP.append(i.text)

In [23]:
data=list(zip(Rank,State,GSDP_1,GSDP_2,Share,GDP))
df=pd.DataFrame(data,columns=['Rank','Indian_State','GSDP(19-20)','GSDP(18-19)','Share','GDP'])
df

   Rank               Indian_State GSDP(19-20) GSDP(18-19)   Share      GDP
0     1                Maharashtra           -   2,632,792  13.94%  399.921
1     2                 Tamil Nadu   1,845,853   1,630,208   8.63%  247.629
2     3              Uttar Pradesh   1,687,818   1,584,764   8.39%  240.726
3     4                    Gujarat           -   1,502,899   7.96%  228.290
4     5                  Karnataka   1,631,977   1,493,127   7.91%  226.806
5     6                West Bengal   1,253,832   1,089,898   5.77%  165.556
6     7                  Rajasthan   1,020,989     942,586   4.99%  143.179
7     8             Andhra Pradesh     972,782     862,957   4.57%  131.083
8     9                  Telangana     969,604     861,031   4.56%  130.791
9    10             Madhya Pradesh     906,672     809,592   4.29%  122.977
10   11                     Kerala           -     781,653   4.14%  118.733
11   12                      Delhi     856,112     774,870   4.10%  117.703
12   13                    Haryana     831,610     734,163   3.89%  111.519
13   14                      Bihar     611,804     530,363   2.81%   80.562
14   15                     Punjab     574,760     526,376   2.79%   79.957
15   16                     Odisha     521,275     487,805   2.58%   74.098
16   17                      Assam           -     315,881   1.67%   47.982
17   18               Chhattisgarh     329,180     304,063   1.61%   46.187
18   19                  Jharkhand     328,598     297,204   1.57%   45.145
19   20                Uttarakhand           -     245,895   1.30%   37.351
20   21            Jammu & Kashmir           -     155,956   0.83%   23.690
21   22           Himachal Pradesh     165,472     153,845   0.81%   23.369
22   23                        Goa      80,449      73,170   0.39%   11.115
23   24                    Tripura      55,984      49,845   0.26%    7.571
24   25                 Chandigarh           -      42,114   0.22%    6.397
25   26                 Puducherry      38,253      34,433   0.18%    5.230
26   27                  Meghalaya      36,572      33,481   0.18%    5.086
27   28                     Sikkim      32,496      28,723   0.15%    4.363
28   29                    Manipur      31,790      27,870   0.15%    4.233
29   30                   Nagaland           -      27,283   0.14%    4.144
30   31          Arunachal Pradesh           -      24,603   0.13%    3.737
31   32                    Mizoram      26,503      22,287   0.12%    3.385
32   33  Andaman & Nicobar Islands           -           -       -        -

 Q4.Scrape the details of trending repositories on Github.com. 
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [3]:
from webdriver_manager.chrome import ChromeDriverManager
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
url='https://github.com/'
driver.get(url)
time.sleep(2)

[WDM] - Downloading: 100%|██████████| 6.30M/6.30M [00:00<00:00, 8.30MB/s]

In [14]:

#Getting explore button and clicking on it
explore = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button")

#Selecting trending option
trend_url = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a")
urls = trend_url.get_attribute("href")
driver.get(urls)




# making empty lists    
repo_urls=[]
Contributors_count=[]
Language_used=[]
repo_title=[]
repo_desc=[]

#scraping repositories urls
repos=driver.find_elements(By.XPATH,"//h2[@class='h3 lh-condensed']/a")
for i in repos:
    repo_urls.append(i.get_attribute('href'))
time.sleep(2)    
    
#scraping repositories title
repo_title=[]
try:
    repos=driver.find_elements(By.XPATH,"//h2[@class='h3 lh-condensed']")
    for i in repos:
        repo_title.append(i.text)
except NoSuchElementException:#handling no such element exception
    repo_title.append('No details available')
time.sleep(3)
    
    
for i in repo_urls:
    driver.get(i)
    l=[]
    time.sleep(3)
     #scraping repositories discription
    try:          
        repo_desc.append(driver.find_element(By.XPATH,"//p[@class='f4 my-3']").text)
    except:
        repo_desc.append('-')
      #scraping contributors count
    try:
        count=driver.find_element(By.XPATH,"//h2[@class='h4 mb-3']/a[contains(text(),'Contributors')]/span")
        Contributors_count.append(count.text)
    except NoSuchElementException:#handling no such element exception
        Contributors_count.append('No details available')
    time.sleep(2)
    
     #scraping languages used   
    languages=driver.find_elements(By.XPATH,"//li[@class='d-inline']//a//span[1]")
    if languages:    
        for i in languages:
            l.append(i.text)
    else:
        l.append('No languages used')
    Language_used.append(l)

In [15]:
print(len(repo_title),len(repo_desc),len(Contributors_count),len(Language_used))

25 25 25 25

In [16]:
time.sleep(2)   
#creating dataframe
df=pd.DataFrame({'Title':repo_title,
                'Description':repo_desc,
                'Contributors_count':Contributors_count,
                'Language_used':Language_used})
df

,Title,Description,Contributors_count,Language_used
0,sveltejs / svelte,Cybernetically enhanced web apps,605,"[JavaScript, Svelte]"
1,a16z-infra / ai-getting-started,A Javascript AI getting started stack for week...,5,"[TypeScript, JavaScript, PLpgSQL, Dockerfile, ..."
2,vllm-project / vllm,A high-throughput and memory-efficient inferen...,4,"[Python, Cuda]"
3,figma / plugin-samples,🔌 Sample Figma plugins.,19,"[TypeScript, HTML, JavaScript, CSS]"
4,google / googletest,GoogleTest - Google Testing and Mocking Framework,399,"[C++, Python, CMake, C, Starlark, Shell]"
5,OpenDriveLab / UniAD,[CVPR 2023 Best Paper] Planning-oriented Auton...,5,"[Python, Shell]"
6,csunny / DB-GPT,Revolutionizing Database Interactions with Pri...,19,"[Python, Shell]"
7,s0md3v / sd-webui-roop,roop extension for StableDiffusion web-ui,No details available,[Python]
8,devfullcycle / imersao13,-,2,"[TypeScript, Go, JavaScript]"
9,codecrafters-io / build-your-own-x,Master programming by recreating your favorite...,104,[No languages used]
10,Jessecar96 / SteamDesktopAuthenticator,Desktop implementation of Steam's mobile authe...,16,"[C#, Batchfile]"
11,ossu / computer-science,🎓 Path to a free self-taught education in Comp...,132,[No languages used]
12,TodePond / DreamBerd,perfect programming language,21,[No languages used]
13,SkalskiP / top-cvpr-2023-papers,This repository is a curated collection of the...,2,[Python]
14,serverless-stack / sst,💥 SST makes it easy to build full-stack server...,199,"[TypeScript, JavaScript, CSS, HTML, Python, Sv..."
15,scikit-learn / scikit-learn,scikit-learn: machine learning in Python,"2,672","[Python, Cython, C++, C, Shell, Makefile]"
16,angular / angular,The modern web developer’s platform,"1,742","[TypeScript, JavaScript, Starlark, HTML, CSS, ..."
17,AUTOMATIC1111 / stable-diffusion-webui,Stable Diffusion web UI,417,"[Python, JavaScript, HTML, CSS]"
18,eslint / eslint,Find and fix problems in your JavaScript code.,952,[JavaScript]
19,loft-sh / devpod,Spin up dev environments in any infra. Dev-env...,21,"[Go, TypeScript, Rust, Shell, JavaScript, Dock..."
20,nodejs / node,Node.js JavaScript runtime ✨🐢🚀✨,"3,252","[JavaScript, C++, Python, C, HTML, Shell]"
21,edtechre / pybroker,Algorithmic Trading in Python with Machine Lea...,2,[Python]
22,veler / DevToys,A Swiss Army knife for developers.,66,"[C#, CSS]"
23,geohot / tinygrad,You like pytorch? You like micrograd? You love...,146,"[Python, C, C++, Objective-C++, Shell, Assembly]"
24,terraform-aws-modules / terraform-aws-eks,Terraform module to create an Elastic Kubernet...,320,"[HCL, Smarty]"

Q5. Scrape the details of top 100 songs on billiboard.com. 
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code

In [27]:
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
url = "https://www.billboard.com/"
driver.get(url)
time.sleep(2)

In [29]:
driver.find_element(By.XPATH,"/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a").click()

In [31]:
driver.find_element(By.XPATH,"//div[@class='lrv-u-flex lrv-u-justify-content-center']").click()

In [32]:
Name = []
Artist = []
Last_week_rank = []
Peak_rank = []
Weeks_on_board = []

In [33]:
#scraping song names
try:
    names=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]//h3')
    for i in names:
        Name.append(i.text)
except NoSuchElementException:       
    Name.append('No details available')
time.sleep(2)    
Name[::4][:100]

['Last Night',
 'Flowers',
 'Fast Car',
 'Calm Down',
 'All My Life',
 'Favorite Song',
 'Kill Bill',
 "Creepin'",
 'Karma',
 'Ella Baila Sola',
 'Sure Thing',
 'Anti-Hero',
 'Die For You',
 'Something In The Orange',
 'Snooze',
 'La Bebe',
 'Where She Goes',
 'Un x100to',
 'Need A Favor',
 'Search & Rescue',
 'You Proof',
 "Thinkin' Bout Me",
 'Chemical',
 'Cupid',
 'Rock And A Hard Place',
 'Eyes Closed',
 "Boy's A Liar, Pt. 2",
 'Next Thing You Know',
 'Put It On Da Floor Again',
 'Thought You Should Know',
 "I'm Good (Blue)",
 'Dance The Night',
 'Area Codes',
 "Dancin' In The Country",
 'One Thing At A Time',
 'Memory Lane',
 'Bzrp Music Sessions, Vol. 55',
 'Tennessee Orange',
 'Cruel Summer',
 'TQM',
 'Stand By Me',
 'Religiously',
 'Dial Drunk',
 'Under The Influence',
 'Players',
 'Calling',
 'Annihilate',
 'Take Two',
 'Love You Anyway',
 'Thank God',
 'Am I Dreaming',
 'Princess Diana',
 'Bye',
 'Self Love',
 'It Matters To Her',
 'Daylight',
 'PRC',
 'Por Las Noches',
 'Mourning',
 'What It Is (Block Boy)',
 'See You Again',
 'TQG',
 'El Azul',
 'Bury Me In Georgia',
 'Waffle House',
 'You, Me, & Whiskey',
 'Your Heart Or Mine',
 'Plebada',
 'Cowgirls',
 'ICU',
 "Baby Don't Hurt Me",
 'Popular',
 'Slut Me Out',
 'Peaches & Eggplants',
 'America Has A Problem',
 'Fight The Feeling',
 "Ain't That Some",
 'Shake Sumn',
 'Chanel',
 'People',
 'Bread & Butter',
 'Trustfall',
 'Fragil',
 'Hits Different',
 'Jaded',
 'Pound Town 2',
 'Low Down',
 'Ocean Spray',
 'Truck Bed',
 'Moonlight',
 'Trance',
 'All The Way Live',
 'The Hillbillies',
 'El Gordo Trae El Mando',
 'Too Many Nights',
 'Save Me',
 'Yandel 150',
 'Beso',
 'I Wrote The Book',
 'Hummingbird']

In [34]:
#scraping artist names
try:
    artist=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]//span')
    for i in artist:
        Artist.append(i.text)
except NoSuchElementException:     
    Artist.append('-')
time.sleep(2)    
Artist[::7][:100]

['Morgan Wallen',
 'Miley Cyrus',
 'Luke Combs',
 'Rema & Selena Gomez',
 'Lil Durk Featuring J. Cole',
 'Toosii',
 'SZA',
 'Metro Boomin, The Weeknd & 21 Savage',
 'Taylor Swift Featuring Ice Spice',
 'Eslabon Armado X Peso Pluma',
 'Miguel',
 'Taylor Swift',
 'The Weeknd & Ariana Grande',
 'Zach Bryan',
 'SZA',
 'Yng Lvcas x Peso Pluma',
 'Bad Bunny',
 'Grupo Frontera X Bad Bunny',
 'Jelly Roll',
 'Drake',
 'Morgan Wallen',
 'Morgan Wallen',
 'Post Malone',
 'Fifty Fifty',
 'Bailey Zimmerman',
 'Ed Sheeran',
 'PinkPantheress & Ice Spice',
 'Jordan Davis',
 'Latto Featuring Cardi B',
 'Morgan Wallen',
 'David Guetta & Bebe Rexha',
 'Dua Lipa',
 'Kali',
 'Tyler Hubbard',
 'Morgan Wallen',
 'Old Dominion',
 'Bizarrap & Peso Pluma',
 'Megan Moroney',
 'Taylor Swift',
 'Fuerza Regida',
 'Lil Durk Featuring Morgan Wallen',
 'Bailey Zimmerman',
 'Noah Kahan',
 'Chris Brown',
 'Coi Leray',
 'Metro Boomin, Swae Lee & NAV Featuring A Boogie Wit da Hoodie',
 'Metro Boomin, Swae Lee, Lil Wayne & Offset',
 'BTS',
 'Luke Combs',
 'Kane Brown With Katelyn Brown',
 'Metro Boomin, A$AP Rocky & Roisee',
 'Ice Spice & Nicki Minaj',
 'Peso Pluma',
 'Metro Boomin & Coi Leray',
 'Scotty McCreery',
 'David Kushner',
 'Peso Pluma X Natanael Cano',
 'Peso Pluma',
 'Post Malone',
 'Doechii Featuring Kodak Black',
 'Tyler, The Creator Featuring Kali Uchis',
 'Karol G x Shakira',
 'Junior H x Peso Pluma',
 'Kane Brown',
 'Jonas Brothers',
 'Justin Moore & Priscilla Block',
 'Jon Pardi',
 'El Alfa x Peso Pluma',
 'Morgan Wallen Featuring ERNEST',
 'Coco Jones',
 'David Guetta, Anne-Marie & Coi Leray',
 'The Weeknd, Playboi Carti & Madonna',
 'NLE Choppa',
 'Young Nudy Featuring 21 Savage',
 'Beyonce Featuring Kendrick Lamar',
 'Rod Wave',
 'Morgan Wallen',
 'DaBaby',
 'Becky G & Peso Pluma',
 'Libianca',
 'Gunna',
 'P!nk',
 'Yahritza y Su Esencia x Grupo Frontera',
 'Taylor Swift',
 'Miley Cyrus',
 'Sexyy Red & Tay Keith & Nicki Minaj',
 'Lil Baby',
 'Moneybagg Yo',
 'HARDY',
 'Kali Uchis',
 'Metro Boomin, Travis Scott & Young Thug',
 'Metro Boomin, Future & Lil Uzi Vert',
 'Baby Keem & Kendrick Lamar',
 'Chino Pacas',
 'Metro Boomin Featuring Don Toliver & Future',
 'Jelly Roll With Lainey Wilson',
 'Yandel & Feid',
 'Rosalia & Rauw Alejandro',
 'Morgan Wallen',
 'Metro Boomin & James Blake']

In [35]:
#scraping last week rank of the song
try:
    last_rank=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]')
    for i in last_rank:
        Last_week_rank.append(i.text)
except NoSuchElementException:      
    Last_week_rank.append('-')
    time.sleep(2)    
Last_week_rank[::2][:100]

['1',
 '2',
 '4',
 '3',
 '5',
 '7',
 '6',
 '9',
 '10',
 '8',
 '12',
 '11',
 '14',
 '15',
 '19',
 '23',
 '16',
 '17',
 '20',
 '18',
 '22',
 '24',
 '25',
 '21',
 '27',
 '33',
 '26',
 '38',
 '13',
 '32',
 '29',
 '35',
 '37',
 '36',
 '30',
 '42',
 '31',
 '45',
 '47',
 '34',
 '28',
 '50',
 '-',
 '46',
 '39',
 '41',
 '44',
 '-',
 '52',
 '40',
 '51',
 '53',
 '54',
 '62',
 '49',
 '56',
 '55',
 '57',
 '58',
 '73',
 '60',
 '63',
 '64',
 '77',
 '74',
 '72',
 '80',
 '-',
 '76',
 '75',
 '82',
 '43',
 '67',
 '92',
 '66',
 '81',
 '83',
 '85',
 '78',
 '91',
 '48',
 '100',
 '88',
 '65',
 '98',
 '68',
 '89',
 '69',
 '-',
 '97',
 '96',
 '61',
 '-',
 '93',
 '-',
 '86',
 '-',
 '94',
 '-',
 '90']

In [36]:
#scraping song's peak rank
try:
    peak=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max"]')
    for i in peak:
        Peak_rank.append(i.text)
except NoSuchElementException:       
    Peak_rank.append('-')
time.sleep(2)    
Peak_rank[1::2][:100]

['1',
 '1',
 '3',
 '3',
 '2',
 '5',
 '1',
 '3',
 '2',
 '4',
 '11',
 '1',
 '1',
 '10',
 '15',
 '11',
 '8',
 '5',
 '19',
 '2',
 '5',
 '9',
 '13',
 '17',
 '10',
 '19',
 '3',
 '28',
 '13',
 '7',
 '4',
 '32',
 '33',
 '23',
 '10',
 '36',
 '31',
 '30',
 '29',
 '34',
 '22',
 '40',
 '43',
 '12',
 '9',
 '41',
 '44',
 '48',
 '15',
 '13',
 '51',
 '4',
 '53',
 '54',
 '49',
 '47',
 '33',
 '28',
 '36',
 '60',
 '44',
 '7',
 '55',
 '64',
 '57',
 '66',
 '67',
 '68',
 '40',
 '63',
 '71',
 '43',
 '28',
 '74',
 '38',
 '16',
 '11',
 '69',
 '55',
 '80',
 '48',
 '82',
 '69',
 '27',
 '56',
 '66',
 '50',
 '69',
 '89',
 '80',
 '42',
 '61',
 '93',
 '58',
 '22',
 '86',
 '71',
 '52',
 '18',
 '90']

In [37]:
#scraping number of weeks on board
try:
    weeks=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]')
    for i in weeks:
        Weeks_on_board.append(i.text)
except NoSuchElementException:       #handling no such element exception
    Weeks_on_board.append('-')
time.sleep(2)    
Weeks_on_board[1::2][:100]

['20',
 '22',
 '12',
 '41',
 '5',
 '17',
 '27',
 '28',
 '14',
 '13',
 '46',
 '34',
 '46',
 '60',
 '27',
 '13',
 '4',
 '9',
 '11',
 '10',
 '57',
 '15',
 '9',
 '13',
 '53',
 '12',
 '19',
 '21',
 '2',
 '44',
 '42',
 '3',
 '6',
 '17',
 '28',
 '11',
 '2',
 '27',
 '6',
 '4',
 '3',
 '6',
 '1',
 '40',
 '24',
 '2',
 '2',
 '1',
 '18',
 '40',
 '2',
 '9',
 '3',
 '2',
 '9',
 '9',
 '18',
 '14',
 '4',
 '6',
 '9',
 '16',
 '10',
 '5',
 '7',
 '6',
 '5',
 '1',
 '15',
 '13',
 '4',
 '2',
 '13',
 '2',
 '5',
 '11',
 '15',
 '6',
 '9',
 '7',
 '2',
 '3',
 '8',
 '3',
 '5',
 '3',
 '13',
 '2',
 '1',
 '10',
 '19',
 '2',
 '1',
 '13',
 '13',
 '2',
 '17',
 '12',
 '19',
 '2']

In [38]:
df=pd.DataFrame({'Song_Name':Name[::4][:100],
                'Artist_Name':Artist[::7][:100],
                'Last_week_rank':Last_week_rank[::2][:100],
                'Peak':Peak_rank[1::2][:100],
                'Weeks_on_chart':Weeks_on_board[1::2][:100]})
df

,Song_Name,Artist_Name,Last_week_rank,Peak,Weeks_on_chart
0,Last Night,Morgan Wallen,1,1,20
1,Flowers,Miley Cyrus,2,1,22
2,Fast Car,Luke Combs,4,3,12
3,Calm Down,Rema & Selena Gomez,3,3,41
4,All My Life,Lil Durk Featuring J. Cole,5,2,5
...,...,...,...,...,...
95,Save Me,Jelly Roll With Lainey Wilson,86,86,2
96,Yandel 150,Yandel & Feid,-,71,17
97,Beso,Rosalia & Rauw Alejandro,94,52,12
98,I Wrote The Book,Morgan Wallen,-,18,19
99,Hummingbird,Metro Boomin & James Blake,90,90,2

Q6. Scrape the details of Highest sellingnovels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [39]:
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
driver.get(url)
time.sleep(2)

In [40]:
Book_name = []
Author = []
Volumes_sold = []
Publisher = []
Genre = []

In [41]:
for i in driver.find_elements(By.XPATH,"//tbody//tr/td[2]"):
    Book_name.append(i.text)

    
#Scraping data of author names
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[3]"):
    try:
        if i.text == '0' : raise NoSuchElementException
        Author.append(i.text)
    except NoSuchElementException:
        Author.append('-')
time.sleep(1)


#Scraping data of volumes sold
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[4]"):
    Volumes_sold.append(i.text)

    
#Scraping data of publisher names
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[5]"):
    Publisher.append(i.text)

    
#Scraping data of genre
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[6]"):
    Genre.append(i.text)

In [42]:
Novel=pd.DataFrame({})
Novel['Book Name'] = Book_name
Novel['Author'] = Author
Novel['Volume sold'] = Volumes_sold
Novel['Publisher'] = Publisher
Novel['Genre'] = Genre
Novel

,Book Name,Author,Volume sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

Q7.Scrape the details most watched tv series of all time from imdb.com. 
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [43]:
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
url = "https://www.imdb.com/list/ls095964455"
driver.get(url)
time.sleep(2)

In [44]:
Name = []
Year_span = []
Genre = []
Run_time = []
Ratings = []
Votes = []

In [45]:
#Scraping data of Names
for i in driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a"):
    Name.append(i.text)

    
#Scraping data of Year span
for i in driver.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']"):
    Year_span.append(i.text)

    
#Scraping data of genre
for i in driver.find_elements(By.XPATH,"//span[@class='genre']"):
    Genre.append(i.text)

    
#Scraping data of Run time
for i in driver.find_elements(By.XPATH,"//span[@class='runtime']"):
    Run_time.append(i.text)

    
#Scraping data of Ratings
for i in driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']//span[2]"):
    Ratings.append(i.text)

    
#Scraping data of votes
for i in driver.find_elements(By.XPATH,"//div[@class='lister-item-content']//p[4]/span[2]"):
    Votes.append(i.text)

In [46]:
IMDB=pd.DataFrame({})
IMDB['Name'] = Name
IMDB['Year Span'] = Year_span
IMDB['Genre'] = Genre
IMDB['Run Time'] = Run_time
IMDB['Ratings'] = Ratings
IMDB['Votes'] = Votes
IMDB

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,171,895"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,249,981"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,031,635"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"303,353"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"262,532"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"51,919"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"63,951"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"208,409"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"43,369"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"259,849"

Q8. Details of Datasetsfrom UCI machine learning repositories. 
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [43]:
from webdriver_manager.chrome import ChromeDriverManager
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
url = "https://archive.ics.uci.edu/"
driver.get(url)
time.sleep(2)

In [44]:
#Finding view all dataset button
view_dataset = driver.find_element(By.XPATH,"//a[@class='btn-primary btn']")    
page_url = view_dataset.get_attribute("href")
driver.get(page_url)
time.sleep(5)

In [45]:
while(True):

    dataset_url = driver.find_elements(By.XPATH,"//a[@class='link-hover link text-xl font-semibold']")
    urls = []
    for i in dataset_url:
        urls.append(i.get_attribute("href"))
    
    try:
        next_button = driver.find_element(By.XPATH,"//button[2][@class='btn-primary btn-sm btn']")
        next_button.click()
    except:
        break

In [46]:
print(len(urls))

10

In [47]:
Dataset_name = []
Data_type = []
Task = []
Attribute_type = []
No_of_instances = []
No_of_attributes = []
Year = []

for i in urls:
    driver.get(i)
    time.sleep(3)
    
     # scraping  Dataset name
    try:
        dataset_name = driver.find_element(By.XPATH,"//h1[@class='text-3xl font-semibold text-primary-content']")
        Dataset_name.append(dataset_name.text)
    except NoSuchElementException:
        Dataset_name.append('-')
    time.sleep(3)
    
    
    
    # scraping data type
    try:
        data_type = driver.find_element(By.XPATH,"//div[1][@class='col-span-4']/p")
        if data_type.text == "N/A": raise NoSuchElementException
        Data_type.append(data_type.text)
    except NoSuchElementException:
        Data_type.append('-')
    time.sleep(3)
    
    # scraping Task
    try:
        task = driver.find_element(By.XPATH,"//div[3][@class='col-span-4']/p")
        if task.text == "N/A": raise NoSuchElementException
        Task.append(task.text)
    except NoSuchElementException:
        Task.append('-')
    time.sleep(3)
    
    
    
    # scraping Attribute type
    try:
        attribute_type = driver.find_element(By.XPATH,"//div[4][@class='col-span-4']/p")
        if attribute_type.text == "N/A": raise NoSuchElementException
        Attribute_type.append(attribute_type.text)
    except NoSuchElementException:
        Attribute_type.append('-')
    time.sleep(3)
    
     # scraping No of Instances
    try:
        instances = driver.find_element(By.XPATH,"//div[5][@class='col-span-4']/p")
        if instances.text == "N/A": raise NoSuchElementException
        No_of_instances.append(instances.text)
    except NoSuchElementException:
        No_of_instances.append('-')
    time.sleep(3)
    
    
    
    # scraping No of Arrtibutes
    try:
        attribute = driver.find_element(By.XPATH,"//div[6][@class='col-span-4']/p")
        if attribute.text == "N/A": raise NoSuchElementException
        No_of_attributes.append(attribute.text)
    except NoSuchElementException:
        No_of_attributes.append('-')
    time.sleep(3)
    
    
    # scraping Year
    try:
        year = driver.find_element(By.XPATH,"//h2[@class='text-primary-content']")
        if year.text == "N/A": raise NoSuchElementException
        Year.append(year.text[16:])
    except NoSuchElementException:
        Year.append('-')
    time.sleep(3)

In [48]:
ML = pd.DataFrame({})
ML['Data Name'] = Dataset_name 
ML['Data Type '] = Data_type
ML['Task '] = Task 
ML['Attribute Type '] = Attribute_type 
ML['No of Instance '] = No_of_instances
ML['No of Attributes '] = No_of_attributes 
ML['Year '] = Year 
ML

,Data Name,Data Type,Task,Attribute Type,No of Instance,No of Attributes,Year
0,Iris,Multivariate,Classification,Real,150,4,1988
1,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303,13,1988
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
3,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,17,2020
4,Diabetes,"Multivariate, Time-Series",-,"Categorical, Integer",-,20,-
5,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3810,8,2019
6,Wine,Multivariate,Classification,"Integer, Real",178,13,1991
7,Car Evaluation,Multivariate,Classification,Categorical,1728,6,1997
8,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569,30,/1995
9,Mushroom,Multivariate,Classification,Categorical,8124,22,1987

Q9. Scrape the details of Data science recruiters Url = https://www.naukri.com/hr-recruiters-consultants
You have to find the following details: 
A) Name
B) Designation
C)Company 
D)Skills they hire for 
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and 
click on search. All this should be done through code

In [21]:
from webdriver_manager.chrome import ChromeDriverManager
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
driver.maximize_window()
time.sleep(2)

url = ("https://www.naukri.com/hr-recruiters-consultants")
driver.get(url)
time.sleep(3)

In [68]:
job_title=[]
job_location=[]
company_name=[]
experience_req=[]
salary=[]
discription=[]

In [69]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags:
    title=i.text
    job_title.append(title)

In [70]:
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags:
    location=i.text
    job_location.append(location)

In [71]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags:
    company=i.text
    company_name.append(company)

In [72]:
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags:
    experience=i.text
    experience_req.append(experience)

In [73]:
Salary_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft "]')
for i in Salary_tags:
    Salary=i.text
    salary.append(Salary)

In [74]:
Description_tags=driver.find_elements(By.XPATH,'//div[@class="ellipsis job-description"]')
for i in Description_tags:
    Description=i.text
    discription.append(Description)

In [75]:
others=[]
Others_tags=driver.find_elements(By.XPATH,'//ul[@class="tags has-description"]')
for i in Others_tags:
    Others=(i.text.replace('\n','  '))
    others.append(Others)

In [76]:
job_posted=[]
Jobpost_tags=driver.find_elements(By.XPATH,'//span[@class="fleft postedDate"]')
for i in Jobpost_tags:
    Jobpost=i.text
    job_posted.append(Jobpost)

In [77]:
print(len(job_title),
      len(job_location),
      len(company_name),
      len(experience_req),
      len(salary),
      len(discription),
      len(others),
      len(job_posted))

20 20 20 20 20 20 20 20

In [78]:
df=pd.DataFrame({'job':job_title,
                 "location":job_location,
                 "company":company_name,
                 "experience":experience_req,
                 "Salary":salary,
                 "Description":discription,
                 "Others":others,
                 "Job Posted":job_posted})
df

,job,location,company,experience,Salary,Description,Others,Job Posted
0,Hiring For HR Recruiter || Fresher / EXP || Da...,Hyderabad/Secunderabad,Axis Services,0-5 Yrs,2-3.25 Lacs PA,Day Shift female only up to 25000/- take Home ...,BPO hr Talent Acquisition fresher recruitm...,1 Day Ago
1,HR Recruiter,"Hyderabad/ Secunderabad, Telangana(Miyapur)",Axis Clinicals Limited,0-1 Yrs,Not disclosed,Should have good communication and presentatio...,Recruitment Hrsd Public speaking Presentati...,5 Days Ago
2,Opening For Management Trainee / Executive - HR,Mumbai (All Areas),Sahajanand Medical Technologies,0-2 Yrs,Not disclosed,Following is the requirement : . Company - Sah...,Recruitment Talent Acquisition Training MIS...,1 Day Ago
3,Executive/ Assistant Manager HR Generalist - P...,"Pune, Maharashtra(Koregaon Park)",OASIS,0-3 Yrs,5-6 Lacs PA,"Dress Code will be Blazer, Skirt and Bun for t...",hr generalist activities HR Information Syste...,6 Days Ago
4,HR Executive- Recruitment,Hyderabad/Secunderabad(Bharat Nagar),Elico Healthcare Services,1-2 Yrs,Not disclosed,Urgent Requirement for HR Executive Should hav...,Human Resource Management Healthcare BPO Res...,1 Day Ago
5,HR Executive & Recruiters required @ Hyderabad...,Hyderabad/Secunderabad(Begumpet),Tata Projects,1-5 Yrs,1.5-5 Lacs PA,Local (Hyderabad stationed) candidates are onl...,HR Executive Recruiter Program Induction A...,1 Day Ago
6,Jr. Executive - HR,Hyderabad/Secunderabad,Tenet Medcorp,0-3 Yrs,1-2.5 Lacs PA,Roles and Responsibilities Desired Candidate P...,hr generalist activities HR Operations Hrsd ...,5 Days Ago
7,US HR Executive,Hyderabad/Secunderabad(Madhapur),CIS Technologies,0-3 Yrs,Not disclosed,Shift timings: 7 pm to 4 am . Work Mode: Onsit...,onboarding Taxation US staffing Staffing H...,5 Days Ago
8,Assistant Manager - HR (Field Level Recruitment),"Bhubaneswar, Odisha, Hubli, Karnataka, Sambalp...",Muthoot Microfin,0-2 Yrs,2.5-4 Lacs PA,. Post Graduation - MBA / PGDM in HR Full Time...,NBFC recruitment Mass Hiring Bulk Hiring L...,4 Days Ago
9,Urgent requirement For Assistant Manager HR- R...,Hyderabad/Secunderabad(Bharat Nagar),Elico Healthcare Services,7-9 Yrs,4-7 Lacs PA,Urgent Requirement for Assistant Manager-HR. S...,Handling Team handling Requirements Assista...,1 Day Ago
10,HR Recruiter,Remote,Symphoni Hr,0-3 Yrs,1-2 Lacs PA,Experience: 6 - 3 years. Job Location: Malad (...,Recruitment Exit formalities Talent acquisit...,1 Day Ago
11,Hiring For HR Recruiters,"Coimbatore, Tamil Nadu",Ontrack Hr Services,0-2 Yrs,1.5-2.5 Lacs PA,Experience Graduates- -0--2 years experience i...,recruitment skills good communication Hiring...,1 Day Ago
12,HR Executive,Ahmedabad,Caliber Organisation,0-1 Yrs,Not disclosed,Outstanding problem-solving skills. . Good tim...,HR Business planning Business management Pl...,1 Day Ago
13,HR (Human Resources) Executive,Madurai,ASK Eva ( Ask Executive Virtual Assistance ),0-2 Yrs,Not disclosed,Analyze the future needs of your organization ...,Medical Resource Management Recruitment Hr...,1 Day Ago
14,HR Executive || Nagpur || Third Party Payroll,"Nagpur, Maharashtra",Tata AIA Life Insurance,0-2 Yrs,2-2.5 Lacs PA,HIRING FOR HR RECRUITER (Male) Experience Requ...,Human Resource Hiring Talent Acquisition Th...,1 Day Ago
15,Urgent Hiring Fresher / HR Recruiter / ONLY Fe...,Hyderabad/Secunderabad(Ameerpet),Newzen Infotech,0-1 Yrs,Not disclosed,Job descriptionSourcing candidates through Job...,screening IT Recruitment job portals Job Po...,12 Days Ago
16,HR Manager/ Assistant manager/Executive,"Nagpur, Pune, Aurangabad",Nexus Hr Consultancy,0-5 Yrs,2.25-7.25 Lacs PA,Involved in the End-to-End recruitment Process...,Payroll Management Joining Formalities Exit ...,1 Day Ago
17,Walk in Interview - Assistant Manager-HR,Bangalore/Bengaluru(Bannerghatta +2),Ics Realty,0-5 Yrs,3-4 Lacs PA,Review and update policies and processes as pe...,HR Generalist Activities HR Operations Talen...,1 Day Ago
18,"HR Executive, IT Recruiter","Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",Laxmi Infotech,0-5 Yrs,2.5-6 Lacs PA,Position: HR Recruiter Role: Sourcing candidat...,hr assistant IT Recruitment recruitment hr ...,7 Days Ago
19,Hr Executive And Recruiter,Bangalore/Bengaluru,Avils Automation,0-1 Yrs,Not disclosed,Female candidates preferredEstablishing and ma...,hiring Interviewing Job Posting Follow Ups ...,6 Days Ago